@using Emerketo.ViewModels

@model ProfileViewModel

<form asp-action="Profile" method="post" role="form">
    <div>
        <label>First Name:</label>
        <input class="form-control" name="FirstName" value="@Model.FirstName" />
    </div>
    <div>
        <label>Last Name:</label>
        <input class="form-control" name="LastName" value="@Model.LastName" />
    </div>
    <div>
        <label>Email:</label>
        <input class="form-control" name="Email" value="@Model.Email" />
    </div>

    @if (User.IsInRole("Admin"))
    {
        <div class="container">
            <label>Role:</label>
            <select class="form-select role-select" name="Role">
                @foreach (var role in Model.RolesInDb)
                {
                    if (role == Model.Role)
                    {
                        <option value="@role" selected>@role</option>
                    }
                    else
                    {
                        <option value="@role">@role</option>
                    }                   
                }
            </select>
        </div>
    }
    
    <input type="submit" class="btn btn-secondary" value="Save changes" />
</form>
