@using Emerketo.ViewModels

@model ProfileViewModel

<div>@Model.FirstName</div>
<div>@Model.LastName</div>
<div>@Model.Email</div>
<div>@Model.StreetAdress</div>
<div>@Model.PostalCode</div>
<div>@Model.City</div>
<div>@Model.Role</div>