@model Query

<section class="bg-white">
    <div class="container">
        <form asp-action="SubmitQuery" method="post">

            <div class="row">
                <p>Write something</p>
            </div>

            <div class="row">
                <div class="col">
                    <label asp-for="@Model.Name" class="form-label">Your Name*</label>
                    <input asp-for="@Model.Name" type="text" class="form-control" id="contact-form-name" />
                </div>
                <div class="col">
                    <label asp-for="@Model.Email" class="form-label">Your Email*</label>
                    <input asp-for="@Model.Email" type="text" class="form-control" id="contact-form-email" />
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label asp-for="@Model.Phone" class="form-label">Phone Number</label>
                    <input asp-for="@Model.Phone" type="text" class="form-control" id="contact-form-phone" />
                </div>
                <div class="col">
                    <label asp-for="@Model.Company" class="form-label">Company (optional)</label>
                    <input asp-for="@Model.Company" type="text" class="form-control" id="contact-form-company" />
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label asp-for="@Model.Message" class="form-label">Write your query!</label>
                    <textarea asp-for="@Model.Message" class="form-control" id="contact-form-query" style="height: 140px"></textarea>
                </div>
            </div>

            <button type="submit" class="btn btn-danger my-4">Submit</button>
        </form>
    </div>
</section>
